{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>WcForYou</title>

    <!-- Style -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/index.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/sidebar.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/search.css' %}"
    />

    <!-- JS API -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"
    />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>

    <!-- Turf for area calculations -->
    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>

    <!-- Date -->
    <script src="https://unpkg.com/better-dom@4.0.0/dist/better-dom.min.js"></script>
    <script src="https://unpkg.com/better-dateinput-polyfill@3.2.7/dist/better-dateinput-polyfill.min.js"></script>
  </head>

  <body>
    <div id="map"></div>
    <div id="sidebar">
      <div class="gradient-line"></div>
      <div class="header">
        <h1>Welcome to WcForYou</h1>
        <p>All the restrooms in you area!</p>
      </div>
      <div class="tabs">
        <div class="tab-container">
          <div class="tab tab-active" id="tab-1">Isoline Options</div>
        </div>
      </div>

      <div class="content">
        <div class="content-group" id="content-group-1">
          <div class="group">
            <div class="h2-row">
              <h2>Range</h2>
              <div class="h2-val">
                  <p>meters: <span id="rangevalue"></span></p>
              </div>
              </div>
            </div>
            <input
              class="isoline-controls slider"
              id="range"
              type="range"
              min="0"
              max="2000"
              value="50"
              onclick='routerange(value)'
            />
          </div>
        </div>
      </div>
    </div>
    {{ data|json_script:"data" }}
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
